<%- include ("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/yadu.jpg" alt="Yadu profile photo" />
<p>
  My name is Yadu. I am residing in Thamarkaulam village located at Alappuzha District
  of Kerala state. I am studying at VV Higher Secondary School, Chathiyara in
  8th standard. My favourite subjects are English, general and Social science. I spend my
  leasure time in coding and rubic cube solving. I love chess and football. I am
  also a foodie😋 and enjoy sleeping😴.
</p>
<%- include ("partials/footer.ejs") %>
