<%- include ("partials/header.ejs") %>
<h2>Welcome to My Blog!</h2>
<p>This is where I share my thoughts and experiences.</p>
<img class="thoughts-img" src="images/vivekananda-1.png" alt="vivekananda" />
</main> 
<%- include("partials/footer.ejs") %>