/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3586ff; /* Green background */
    color: white; /* White text */
    padding: 20px 0; /* Padding for top and bottom */
}

.container {
    width: 80%;
    margin: auto; /* Centering the container */
    display: flex;
    justify-content: space-between; /* Space between logo and nav */
    align-items: center; /* Center items vertically */
}

.logo {
    font-size: 24px;
}

nav {
    display: flex;
}

.nav-links {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
}

.nav-links li {
    display: inline; /* Inline list items */
    margin-left: 20px; /* Space between links */
}

.nav-links a {
    color: white; /* White text color for links */
    text-decoration: none; /* Remove underline from links */
}

.nav-links a:hover {
    text-decoration: underline; /* Underline on hover */
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
}
/* styles.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1; /* Allow main content to grow */
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.profile {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  text-align: center;
  padding: 5vmin;
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

p {
  color: grey;
}

.profile {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}
form {
  margin-top: 50px;
}

.feedback-input {
  color: rgb(36, 3, 93);
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 10px;
  margin-bottom: 10px;
  width: 50%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 50%;
  background: #3586ff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #3586ff;
}
.feedback-input1 {
    color: rgb(36, 3, 93);
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #3586ff;
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 10px;
    width: 70%;
    height: 170px;
    box-sizing: border-box;
    outline: 0;
  }
  #myInput{
    padding-top: 2px;
    font-size:30px
   
  }
  .f1{
    color: azure;
  }